.blog1 {
  padding: 0 120px !important;
  > .medecinIdeal {
    padding: 100px 0 140px;
    > h2 {
      font-weight: 700;
      font-size: 48px;
      text-align: center;
      text-transform: uppercase;
    }
    > .owl-carousel {
      padding-top: 33px;
      .owl-item.active.center {
        text-align: center;
        z-index: 10;
        padding: 31px 64px;
        opacity: 1;
        margin-top: 0;
        .title {
          font-weight: bold;
        }
        img {
          padding-top: 95px;
          padding-bottom: 80px;
        }
        .choosing {
          padding-bottom: 80px;
        }
      }
      .owl-item {
        background-color: white;
        box-shadow: 0 0 20px rgba(63, 121, 168, 0.25);
        border-radius: 16px;
        opacity: 0.5;
        padding: 31px 64px;
        height: max-content;
        margin-top: 45px;
        position: relative;
        z-index: 5;
        img {
          padding-top: 64px;
          padding-bottom: 67px;
        }
        .choosing {
          padding-bottom: 42px;
        }
      }
    }
  }
}

.blog3 {
  padding: 116px 120px 165px;
  .subTitle {
    color: #525252;
  }
  .listOfLorem {
    color: #525252;
    list-style-type: none;
    padding-left: 0;
    > li > img {
      width: 18px;
      margin-right: 18px;
    }
  }
}

.blog4 {
  padding: 120px;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(63, 121, 168, 0.25);
  .protection {
    text-align: right;
  }
}

.blog5 {
  padding: 100px 120px;
  white-space: nowrap;
  .title {
    padding-right: 32px;
  }
  .button_contactez {
    text-align: right;
  }
}
