@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica"),
    url("../public/assets/fonts/Helvetica.ttf") format("truetype");
}

@font-face {
  font-family: "Luxia";
  font-style: normal;
  font-weight: normal;
  src: local("Luxia"),
    url("../public/assets/fonts/Luxia-Regular.otf") format("truetype");
}

#root {
  overflow: hidden;
}

.container-fluid {
  font-family: Helvetica;
  color: #525252;
  font-size: 24px;
  background-color: #e3eff8;
  padding: 0 !important;
  margin: 0;
}
.logo {
  font-family: "Luxia" !important;
  font-size: 80px;
  color: #5eba24;
}

p {
  font-size: 20px;
}

.title {
  color: #333333;
  font-weight: 700;
  font-size: 24px !important;
}

button {
  padding: 16px 32px;
  border: 0;
  border-radius: 8px !important;
  height: fit-content;
  color: white;
  text-transform: uppercase !important;
  font-size: 16px;
  font-weight: 700;
  background: #3f79a8;
  white-space: nowrap;
}

input {
  height: 52px;
}

img {
  width: 100%;
}

@media (max-width: 767px) {
  .container-fluid {
    font-size: 14px;
  }

  button {
    font-size: 10px;
    padding: 10px 25px;
  }

  h2 {
    font-size: 24px !important;
  }

  p {
    font-size: 14px;
  }

  .title {
    font-size: 16px !important;
  }
}

@media (min-width: 1400px) {
  .col-xxl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
